.container
  .index-post
    = link_to "ニュース一覧に戻る", '/posts'
    - if @like.present?
      = link_to "お気に入り解除", post_like_path(@post), method: :delete, :class => 'btn'
    - else
      = link_to "お気に入り登録", post_likes_path(params[:id]), method: :post, :class => 'btn btn-primary'

    %hr
    %h1= @post.title
    %p= @post.content
    %p= @post.source
    .right
      %p= @post.created_at.strftime("%y/%m/%d %p %l:%M")

    %hr
    =link_to "編集する", edit_post_path(@post)
    =link_to "削除する", post_path(@post),method: :delete, data:{ confirm:"本当に削除しますか？" }
    %hr

    -# = form_for @comment, url:post_comments_path(@post, @comment) do |f|
    - @comments.each do |comment|
      -# - binding.pry
      -# - unless comment.id.nil?
      .user_profile.flex
        %p= link_to profile_img(comment.user), user_path(comment.user)
        .user_profile_content
          %p= link_to comment.user.name, user_path(comment.user)
          %p= '所属:'
      %p= comment.content
      -# =link_to "コメント削除", post_comment_path(comment),method: :delete, data: { confirm: '本当に削除していいですか？' }

    = form_for ([@post, @comment]) do |f|
      = f.label :content, "コメント"
      = f.text_area :content, :class =>"form-control"
      .submit_btn
        = f.submit "送信", :class =>"btn btn-primary"
