.container
  .index-post
    .flex-between
      .left
        = link_to "ニュース一覧に戻る", '/posts'
      - if @like.present?
        .fav-btn.right
          = link_to "お気に入り解除", post_like_path(@post), method: :delete, :class => 'btn'
      - else
        .fav-btn.right
          = link_to "お気に入り登録", post_likes_path(params[:id]), method: :post, :class => 'btn btn-raised btn-info'
    %hr
    %h1= link_to "#{@post.title}", href="#{@post.content}", :target => "_blank"
    -# %p= @post.content
    .flex-between
      %p= @post.source
      .right
        %p= @post.created_at.strftime("%y/%m/%d %p %l:%M")
    %hr
    - unless current_user.nil? or current_user.member?
      %hr
      =link_to "編集する", edit_post_path(@post)
      =link_to "削除する", post_path(@post),method: :delete, data:{ confirm:"本当に削除しますか？" }
      %hr

    -# = form_for @comment, url:post_comments_path(@post, @comment) do |f|
    - @comments.each do |comment|
      .flex-between
        .user_profile.flex
          %p= link_to profile_img(comment.user), user_path(comment.user)
          .user_profile_content
            %p= link_to comment.user.name, user_path(comment.user)
            %p= '所属:'
        %p= comment.created_at.strftime("%y/%m/%d %p %l:%M")
      %p= comment.content
      %hr
      -# =link_to "コメント削除", post_comment_path(comment),method: :delete, data: { confirm: '本当に削除していいですか？' }

    = form_for ([@post, @comment]) do |f|
      = f.label :content, "コメント"
      = f.text_area :content, :class =>"form-control"
      .submit_btn
        = f.submit "送信", :class =>"btn btn-primary"
