.container
  =link_to "ニュース一覧に戻る", '/posts'
  %hr
  %h1= @post.title
  %p= @post.content
  %p= @post.source
  %hr
  =link_to "編集する", edit_post_path(@post)
  =link_to "削除する", post_path(@post),method: :delete, data:{ confirm:"本当に削除しますか？" }
  %hr
  -# = form_for @comment, url:post_comments_path(@post, @comment) do |f|
  - @post.comments.each do |comment|
    %p= comment.content
  = form_for ([@post, @comment]) do |f|
    = f.label :content, "コメント"
    = f.text_area :content,:class =>"form-control"
    = f.submit "送信", :class =>"btn btn-default"
