!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    <meta content="initial-scale=1, shrink-to-fit=no, width=device-width" name="viewport">
    %title Putout
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    %header
      %nav.navbar.navbar-default.navbar-fixed-top
        .container-fluid
          .navbar-header
          = link_to "Putout", root_path, class: "navbar-brand"



  = yield
